

/*
Vars
*/
$base_line_height: 30px;
$base_font_size: 18px;
$base_font_family: 'Open Sans', sans-serif;
$transition: 300ms;

/*
Colors
*/
$text_color: #313131;
$link_color: #fba07c;
$highlight_color: #4ae5bd;
$separators_color: #eeeeee;