@import "global";

/*
Resets
*/
@import "inc/normalize";

nav ul,
nav ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
}
*, *::before, *::after {
	box-sizing: inherit;
}

/*
Typography
*/
@import "modules/typo";
@include typo();

/*
Global modules
*/
@import "modules/global_modules";

/*
Layout
*/
.page_wrap {
	display: flex;
	max-width: 1280px; //also in sizes
	margin: 0 auto;
	position: relative;
	width: 100%;
	min-height: 100vh;

		.no-flexboxtweener & {
			&::after {
				content: '';
				display: table;
				clear: both;
			}
		}

		@include respond-to( 'tablet_wrap' ) {
			padding-left: $tablet_menu_width;
		}

		@include respond-to( 'mobile_wrap' ) {
			padding-left: 0;
			padding-top: $mobile_menu_height;
		}
}

@import "modules/header";

@import "modules/main_content";

@import "modules/article_gallery";

@import "modules/images_list";

@import "modules/photo_selection";

@import "modules/form";

@import "modules/fb_share_area";