@import "../global";

.article_gallery {
	$margins: $base_line_height / 2;
	margin: #{$margins} #{-$margins};
	$root: &;

		&__item {
			margin: $margins 0;
			cursor: pointer;
			@include hoverable_image();

				&__caption {
					text-align: center;
					font-size: 14px;
				}
		}

		&.is-2-cols {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

				@include respond-to( 'article_gallery_wrap' ) {
					display: block;
				}

				#{$root}__item {
					flex: 0 0 auto;
					width: calc( 50% - #{( $margins / 2 )} );
					margin-bottom: 0;

						@include respond-to( 'article_gallery_wrap' ) {
							width: 100%;
							margin-bottom: $margins;
						}

						&:nth-child( -n + 2 ) {
							//First two elements dont have margin top - is collapsed from parent
							margin-top: 0;
						}

				}
		}
}