@import "../global";

.article_gallery {
	$margins: $base_line_height / 2;
	margin: #{$margins} #{-$margins};
	$root: &;

		&__item {
			margin: $margins 0;
			cursor: pointer;
			@include hoverable_image();

				&__caption {
					text-align: center;
					font-size: 14px;
				}
		}

		&.is-2-cols {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

				@include respond-to( 'article_gallery_wrap' ) {
					display: block;
				}

				#{$root}__item {
					flex: 0 0 auto;
					width: calc( 50% - #{( $margins / 2 )} );
					margin-bottom: 0;

						@include respond-to( 'article_gallery_wrap' ) {
							width: 100%;
							margin-bottom: $margins;
						}

						&:nth-child( -n + 2 ) {
							//First two elements dont have margin top - is collapsed from parent
							margin-top: 0;
						}

				}
		}

		$root: &;
		&.is-1_2 {
			display: flex;
			position: relative;

				#{$root}__item {
					margin-top: 0;
					margin-bottom: 0;
				}

				#{$root}__column {
					flex: 1 1 auto;

						&:first-child {
							margin-right: $base_line_height / 4;

								@include respond-to( 'article_gallery_wrap' ) {
									margin-right: 0;
									margin-bottom: $base_line_height / 2;
								}
						}
						&:last-child {
							margin-left: $base_line_height / 4;

								@include respond-to( 'article_gallery_wrap' ) {
									margin-left: 0;
								}
						}

						&.has-two_images {

							#{$root}__item {
								overflow: hidden;

								&:first-of-type {
									margin-bottom: $base_line_height / 2;
								}

								&__image {
									margin-top: -( $base_line_height / 8 );
									margin-bottom: -( $base_line_height / 8 );
								}

							}


						}

						@include respond-to( 'article_gallery_wrap' ) {
							max-width: 100%;
							flex-shrink: 0;
							flex-grow: 0;
						}

				}

				@include respond-to( 'article_gallery_wrap' ) {
					flex-wrap: wrap;
				}

		}
}