@import "../global";

.fb_share_area {
	height: $base_line_height;
	overflow: hidden;
	display: block;

		&.is-content {
			margin-left: $base_line_height;
		}

		iframe {
			margin-top: 0;
			margin-bottom: 0;
		}
}