@import "../global";

.mobile_menu_button {
	display: none;
	border: none;
	background: none;
	margin: 0;
	border-radius: 0;
	padding: $base_line_height 0 ( $base_line_height - 10px ) 0;
	width: $tablet_menu_width;
	text-align: center;
	color: $text_color;
	transition: color $transition;
	z-index: 1000;
	position: fixed;
	left: 0;
	top: 0;

		@include respond-to( 'tablet_wrap' ) {
			display: block;
		}

		@include respond-to( 'mobile_wrap' ) {
			padding: 0 10px;
			line-height: $mobile_menu_height;
		}

		&.is-active {
			color: $link_color;
		}

		svg {
			display: inline-block;
			width: $tablet_menu_button_width;
			height: $tablet_menu_button_width;
			margin-bottom: $base_line_height - $tablet_menu_button_width;
			vertical-align: middle;
		}
}

.mobile_header {
	display: none;
	background: $body_bg;
	z-index: 100;
	transform: translateZ(0);

		@include respond-to( 'tablet_wrap' ) {
			display: flex;
			width: $tablet_menu_width;
			flex: 0 0 auto;
			border-right: 1px solid $separators_color;
			flex-direction: column;
			align-items: center;
			position: fixed;
			left: 0;
			top: 0;
			bottom: 0;
		}

		@include respond-to( 'mobile_wrap' ) {
			right: 0;
			bottom: auto;
			width: auto;
			height: $mobile_menu_height;
			border-right: none;
			border-bottom: 1px solid $separators_color;
			flex-direction: row;
			justify-content: flex-end;
		}

		&__logo {
			display: block;
			transform: rotate( -90deg );
			margin-top: $base_line_height * 3;
			padding: 20px;

				@include respond-to( 'mobile_wrap' ) {
					transform: none;
					margin-top: 0;
					padding: 0;
					line-height: $mobile_menu_height;
					margin-right: $base_line_height;
				}

				&::after {
					display: none;
				}

				svg {
					//AR: 612:238
					height: $tablet_menu_button_width;
					width: $tablet_menu_button_width * ( 612/238 );
					display: block;

						@include respond-to( 'mobile_wrap' ) {
							$size: $mobile_menu_height - 15px;
							height: $size;
							width: $size * ( 612/238 );
							display: inline-block;
							vertical-align: middle;
						}
				}
		}
}

.main_header {
	width: $desktop_sidebar_width;
	border-right: 1px solid $separators_color;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding-top: ( 4 * $base_line_height );
	z-index: 100;
	transform: translateZ(0);
	max-height: 100vh;
	overflow: auto;



		@include respond-to( 'tablet_wrap' ) {
			display: none;
			position: fixed;
			left: 0;
			top: 0;
			bottom: 0;
			background: $body_bg;
		}

		@include respond-to( 'mobile_wrap' ) {
			width: auto;
			bottom: auto;
			right: 0;
			top: $mobile_menu_height - 1px; //for border
			padding-top: 0;
			padding-bottom: $base_line_height;
		}

		&__logo {
			flex: 0 0 auto;
			$width: 179px;
			$height: $width * ( 217 / 400 ); //Logo AR: 400*217px
			width: $width;
			height: $height;
			display: block;

				@include respond-to( 'mobile_wrap' ) {
					display: none;
				}

				&::after {
					display: none;
				}

				&__image {
					display: block;
					width: $width;
					height: $height;
				}
		}

		&__nav {
			display: block;
			flex: 0 0 auto;
			width: 70%;

				&__ul {
					display: flex;
					flex-direction: column;

						&__item {
							margin-bottom: $base_line_height / 2;

								&:last-of-type {
									margin-bottom: 0;
								}

								&::after {
									display: none;
								}

								a {
									display: block;
									text-align: center;
									color: $text_color;
									transition: color $transition;

										&:hover {
											color: $link_color;
										}

										&::after {
											display: none;
										}
								}
						}
				}
		}

		&__socials {
			display: flex;
			flex: 0 0 auto;
			justify-content: center;
			align-items: center;
			width: 70%;
			height: $base_line_height;

				.no-flexboxtweener & {
					text-align: center;
				}

				&__link {
					color: $text_color;
					margin: 0 5px;
					transition: color $transition;

						.no-flexboxtweener & {
							display: inline-block;
						}

						&:hover {
							color: $link_color;
						}

						&__image {
							display: block;
							width: 25px;
							height: 25px;
						}

						&::after {
							display: none;
						}
				}
		}

		&__copyright {
			font-size: 12px;
		}
}
