@import "../global";

.images_list {
	display: flex;
	flex-wrap: wrap;

		.no-flexboxtweener & {
			display: block;

				&::after {
					content: '';
					display: table;
					clear: both;
				}
		}

		&__item {
			@include hoverable_image();
			display: flex;
			flex: 0 0 25%;
			margin: 0;

				@include respond-to( 'max-width', 730px ) { //also in sizes
					flex-basis: 50%;
				}

				.no-flexboxtweener & {
					display: block;
					width: 25%;
					float: left;
				}
		}

}