@import "../global";

$disabled_color: grey;

/*
 * Extends
 */
%button {
	background: none;
	padding: 5px;
	line-height: 1em;
	font-weight: bold;
	margin: 0;
	border: 2px solid $link_color;
	border-radius: 2px;
	transition-property: background-color, color;
	transition-duration: $transition;
	color: $link_color;
}
%button_hover {
	&:hover {
		color: $body_bg;
		background-color: $link_color;
	}
}

/*
 * Gallery styles
 */
.photo_selection {

	&__checkbox {
		display: none;

		$checkbox_selector: &;
		& + &__label {
			$size: $base_line_height * 1.5;

			position: absolute;
			bottom: $base_line_height / 2;
			right: $base_line_height / 2;
			z-index: 200;

			display: block;
			width: $size;
			height: $size;
			cursor: pointer;

			#{$checkbox_selector}__label__svg {
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				color: $link_color;
				transition: opacity $transition;

				&.is-closed {
					opacity: 0;
				}
			}
		}

		&:checked + &__label {
			#{$checkbox_selector}__label__svg {
				&.is-closed {
					opacity: 1;
				}

				&.is-open {
					opacity: 0;
				}
			}
		}

		$root: &;
		&[disabled] + &__label {
			cursor: auto;

			#{$root}__label__svg { //This is really sasshell, sorry
				color: $disabled_color;
			}
		}

	}

	.images_list__item.is-checked .images_list__item__image_wrap::before {
		content: '';
		position: absolute;
		left:0;
		top:0;
		right:0;
		bottom:0;
		border: 2px solid $link_color;
	}

	.article_gallery__item__caption {
		display: none;
	}

}

/*
 * PSWP Modification
 */
.pswp__linnete-photo-selection {
	$font-size: 14px;

	position: absolute;
	bottom: 7px;
	left: 0;
	right: 0;
	text-align: center;
	color: $link_color;

	&__button {
		@extend %button;

		&__text {
			font-size: $font-size;
		}

		&__icon {
			position: relative;
			display: inline-block;
			width: $font-size;
			height: $font-size;
			margin-bottom: -1px;

			&__svg {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				color: $link_color;
				transition: opacity $transition;

				&.is-closed {
					opacity: 0;
					color: $body_bg;
				}
			}
		}

		$root: &;
		&.is-selected {
			background: $link_color;
			color: $body_bg;

			#{$root}__icon__svg {
				&.is-closed {
					opacity: 1;
				}
				&.is-open {
					opacity: 0;
				}
			}
		}
	}

	$root: &;
	&.is-disabled {
		color: $disabled_color;

		#{$root}__button { //Now, the selectors are just queses...
			border-color: $disabled_color;
			color: $disabled_color;
		}

		#{$root}__button__icon__svg {
			color: $disabled_color;

		}

		#{$root}__button.is-selected { //It's importatnt to learn from your own mistakes!
			background-color: transparent;
		}
	}
}

/*
 * PSWP Caption mocification
 */
.pswp__caption__center.is-photo_selection {
	padding-left: 290px;
}

/*
 * Actions (Form, etc.)
 */
@keyframes rotation {
	0% {
		transform: rotate( 0deg );
	}
	100% {
		transform: rotate( 360deg );
	}
}

.photo_selection_actions {

	&__selected_count {

		strong {
			color: $link_color;
		}
	}

	&__save_button {
		@extend %button;
		@extend %button_hover;
		margin-left: 1em;

		&__loader {
			display: none;

			svg {
				animation: rotation 2s linear infinite;
				width: 1em;
				height: 1em;
			}
		}

		&__saved_text {
			display: none;
		}

		$root: &;
		&.is-saving {
			color: $body_bg;
			background-color: $link_color;

			#{$root}__loader {
				display: inline-block;
			}

		}

		&.is-saved {
			color: $body_bg;
			background-color: $link_color;

			#{$root}__save_text {
				display: none;
			}

			#{$root}__saved_text {
				display: inline;
			}
		}

	}

	&__button_note {
		font-size: $base_font_size * 0.8;
		margin-left: 1em;
	}

	@media only screen and( max-width: 650px ) {
		&__selected_count, &__save_button, &__button_note {
			display: block;
			margin: 0 auto;
			text-align: center;
		}
	}
}