@import "../global";

@mixin typo( $add_body_id: false ) {

	$body_selector: body;
	@if $add_body_id {
		$body_selector: &;
	}

	@at-root {
		#{$body_selector} {
			font-size: $base_font_size;
			line-height: $base_line_height;
			font-weight: 300;
			font-family: $base_font_family;
		}
	}

	p {
		text-align: justify;
	}

	strong {
		font-weight: 700;
	}

	a {
		color: $link_color;
		text-decoration: none;
		position: relative;

		&::after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: -2px;
			height: 1px;
			display: block;
			border-bottom: 1px solid $link_color;
			opacity: 1;
			transition: opacity $transition;
		}

		&:hover::after {
			opacity: 0;
		}
	}

	h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote, code {
		margin: $base_line_height 0;
	}

	h1, h2, h3, h4, h5, h6 {
		line-height: $base_line_height;
		font-weight: inherit;
	}

	h1 {
		font-size: 30px;
	}

	h2 {
		font-size: 24px;
	}

	h3 {
		font-size: 18px;
		font-weight: 700;
	}

	h4 {
		font-size: 14px;
		font-weight: 700;
	}

	ul {
		list-style: none;

		li {
			position: relative;

			&::after {
				$size: 4px;
				content: '';
				position: absolute;
				left: -0.7em;
				top: 0.7em;
				display: block;
				width: $size;
				height: $size;
				border-radius: 100%;
				background: $highlight_color;
			}
		}
	}

	ol {
		list-style: none;

		li {
			counter-increment: ol;

			&::before {
				content: counter(ol ,decimal) '.';
				position: absolute;
				margin-left: -1em;
				color: $highlight_color;
			}
		}
	}

	blockquote {
		margin: 0;
		padding: 0;
		border-left: 4px solid $highlight_color;
		padding-left: 1em;
	}

}